<div style="font-family: JetBrains Mono;">Practical 13</div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../loan_data_set.csv')

In [3]:
def hashing_trick(input_string, vector_size=20):
    if pd.isna(input_string):
        input_string = "Unknown"
    feature_vector = [0] * vector_size
    for word in input_string.split(' '):
        index = abs(hash(word)) % vector_size
        feature_vector[index] = 1
    binary_string = ''.join(map(str, feature_vector))
    return binary_string

In [4]:
hashed_loan_id_data = []
for index, data in df.iterrows():
    hashed_loan_id_data.append(hashing_trick(data['Loan_ID']))
hashed_loan_id_data[0]

'10000000000000000000'

In [5]:
hashed_loan_id_df = pd.DataFrame(hashed_loan_id_data,
columns=['Hashed_Loan_ID'])
hashed_loan_id_df = pd.concat([df['Loan_ID'],hashed_loan_id_df],axis=1)
hashed_loan_id_df.head()

    Loan_ID        Hashed_Loan_ID
0  LP001002  10000000000000000000
1  LP001003  00000001000000000000
2  LP001005  00000000100000000000
3  LP001006  01000000000000000000
4  LP001008  00000100000000000000

In [6]:
hashed_income_data = []
for index, data in df.iterrows():
    hashed_income_data.append(hashing_trick(str(data['ApplicantIncome'])))
hashed_income_data[0]

'00000000000000100000'

In [7]:
hashed_income_df = pd.DataFrame(hashed_income_data,
columns=['Hashed_Income'])
hashed_income_df = pd.concat([df['ApplicantIncome'],hashed_income_df],axis=1)
hashed_income_df.head()

   ApplicantIncome         Hashed_Income
0             5849  00000000000000100000
1             4583  00000100000000000000
2             3000  10000000000000000000
3             2583  00000000000000100000
4             6000  00000000000001000000