<div>
<b>Author</b>: PATEL DIVYAKUMAR BHARATBHAI
</div>
<div>
<b>Date</b>: 06/10/2023
</div>
<div>
<b>Practical 2</b>: Read company master data of Gujarat dataset. Perform the following operations on it.<br>
a) Describe the datasets and identify the data types of attributes of the dataset.<br>
b) Implement the methods to display the number of missing values of different attributes and methods to handle missing value.<br>
c) Display the statistics about number of private and public company according to the different registrar of the company.<br>
</div>

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("mca_gujarat_21042018.csv")
df.head()

,CORPORATE_IDENTIFICATION_NUMBER,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,DATE_OF_REGISTRATION,REGISTERED_STATE,AUTHORIZED_CAP,PAIDUP_CAPITAL,INDUSTRIAL_CLASS,PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN,REGISTRAR_OF_COMPANIES,EMAIL_ADDR,LATEST_YEAR_ANNUAL_RETURN,LATEST_YEAR_FINANCIAL_STATEMENT
0,U01223GJ2001PTC039771,SHREEJI HONEY (INDIA) PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,12-07-2001,Gujarat,1500000.0,1500000.0,`01223,Agriculture and Allied Activities,RoC-Ahmedabad,d_joshi_associates@yahoo.com,31-03-2017,31-03-2017
1,U01224GJ2005PTC047084,NICE NATURAL SILK INDUSTRIES PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,17-11-2005,Gujarat,10000000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,NaN,NaN,NaN
2,U01224GJ2011PTC067121,DAYALJI SILK PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,14-09-2011,Gujarat,100000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,mutualarena@gmail.com,NaN,NaN
3,U01225GJ2010PTC061439,K. R. RABBIT FARMING PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,05-07-2010,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,piyush.luktuke@yahoo.com,NaN,NaN
4,U01225GJ2013PLC073774,ABELLON BAMBOOWORKS LIMITED,Active,Public,Company limited by Shares,Non-govt company,28-02-2013,Gujarat,40000000.0,40000000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,secretarial.corp@abelloncleanenergy.com,31-03-2016,31-03-2016

In [19]:
df.dtypes

CORPORATE_IDENTIFICATION_NUMBER            object
COMPANY_NAME                               object
COMPANY_STATUS                             object
COMPANY_CLASS                              object
COMPANY_CATEGORY                           object
COMPANY_SUB_CATEGORY                       object
DATE_OF_REGISTRATION                       object
REGISTERED_STATE                           object
AUTHORIZED_CAP                            float64
PAIDUP_CAPITAL                            float64
INDUSTRIAL_CLASS                           object
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN     object
REGISTRAR_OF_COMPANIES                     object
EMAIL_ADDR                                 object
LATEST_YEAR_ANNUAL_RETURN                  object
LATEST_YEAR_FINANCIAL_STATEMENT            object
dtype: object

In [20]:
df.describe()

       AUTHORIZED_CAP  PAIDUP_CAPITAL
count    9.582600e+04    9.582600e+04
mean     6.320206e+07    2.986657e+07
std      2.690387e+09    1.730888e+09
min      0.000000e+00    0.000000e+00
25%      1.000000e+05    1.000000e+05
50%      5.000000e+05    1.000000e+05
75%      2.500000e+06    1.000000e+06
max      6.000000e+11    4.570000e+11

In [24]:
# Question - b

# Displaying the number of missing values for each attribute
df.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER               0
COMPANY_NAME                                  0
COMPANY_STATUS                                0
COMPANY_CLASS                                 6
COMPANY_CATEGORY                              6
COMPANY_SUB_CATEGORY                          6
DATE_OF_REGISTRATION                         12
REGISTERED_STATE                              0
AUTHORIZED_CAP                                0
PAIDUP_CAPITAL                                0
INDUSTRIAL_CLASS                              0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN        0
REGISTRAR_OF_COMPANIES                      335
EMAIL_ADDR                                23588
LATEST_YEAR_ANNUAL_RETURN                 39918
LATEST_YEAR_FINANCIAL_STATEMENT           39928
dtype: int64

In [26]:
# Handling missing values
# Option 1: Remove rows with missing values
df_no_missing = df.dropna()
df_no_missing.head()

,CORPORATE_IDENTIFICATION_NUMBER,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,DATE_OF_REGISTRATION,REGISTERED_STATE,AUTHORIZED_CAP,PAIDUP_CAPITAL,INDUSTRIAL_CLASS,PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN,REGISTRAR_OF_COMPANIES,EMAIL_ADDR,LATEST_YEAR_ANNUAL_RETURN,LATEST_YEAR_FINANCIAL_STATEMENT
0,U01223GJ2001PTC039771,SHREEJI HONEY (INDIA) PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,12-07-2001,Gujarat,1500000.0,1500000.0,`01223,Agriculture and Allied Activities,RoC-Ahmedabad,d_joshi_associates@yahoo.com,31-03-2017,31-03-2017
4,U01225GJ2013PLC073774,ABELLON BAMBOOWORKS LIMITED,Active,Public,Company limited by Shares,Non-govt company,28-02-2013,Gujarat,40000000.0,40000000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,secretarial.corp@abelloncleanenergy.com,31-03-2016,31-03-2016
6,U01225GJ2014PTC081273,PREKSHA AGRO INDUSTRIES PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,18-11-2014,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,bhagya_ornaments99@yahoo.com,31-03-2017,31-03-2017
8,U01225GJ2015PTC084290,LEXICON AGRO TECH PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,24-08-2015,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,cajbvadodariya@gmail.com,31-03-2017,31-03-2017
10,U01225GJ2015PTC085284,ISHWAR GINNING PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,08-12-2015,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,patelph.fca@gmail.com,31-03-2016,31-03-2016

In [89]:
print(df['COMPANY_CLASS'].isnull().sort_values())
print(df['COMPANY_CLASS'].iloc[4])
print(df.mode().iloc[0][3])
newdf = df.fillna(df.mode().iloc[0][3])
print(newdf['COMPANY_CLASS'].isnull().sort_values())

0        False
63887    False
63886    False
63885    False
63884    False
         ...
37750     True
34051     True
93569     True
92972     True
94225     True
Name: COMPANY_CLASS, Length: 95826, dtype: bool
Public
Private
0        False
63889    False
63888    False
63887    False
63886    False
         ...
31937    False
31936    False
31935    False
31944    False
95825    False
Name: COMPANY_CLASS, Length: 95826, dtype: bool

In [31]:
# Option 2: Replace missing values with mean (for numerical columns)
values = {"COMPANY_CLASS": df.mode('columns').iloc[0]}
df_filled_mean = df.fillna(value=values)
df_filled_mean.head()

C:\Users\DIVYA\AppData\Local\Temp\ipykernel_3904\637544362.py:2: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  values = {"COMPANY_CLASS": df.mode('columns').iloc[0]}
C:\Users\DIVYA\AppData\Local\Temp\ipykernel_3904\637544362.py:2: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  values = {"COMPANY_CLASS": df.mode('columns').iloc[0]}

,CORPORATE_IDENTIFICATION_NUMBER,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,DATE_OF_REGISTRATION,REGISTERED_STATE,AUTHORIZED_CAP,PAIDUP_CAPITAL,INDUSTRIAL_CLASS,PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN,REGISTRAR_OF_COMPANIES,EMAIL_ADDR,LATEST_YEAR_ANNUAL_RETURN,LATEST_YEAR_FINANCIAL_STATEMENT
0,U01223GJ2001PTC039771,SHREEJI HONEY (INDIA) PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,12-07-2001,Gujarat,1500000.0,1500000.0,`01223,Agriculture and Allied Activities,RoC-Ahmedabad,d_joshi_associates@yahoo.com,31-03-2017,31-03-2017
1,U01224GJ2005PTC047084,NICE NATURAL SILK INDUSTRIES PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,17-11-2005,Gujarat,10000000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,NaN,NaN,NaN
2,U01224GJ2011PTC067121,DAYALJI SILK PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,14-09-2011,Gujarat,100000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,mutualarena@gmail.com,NaN,NaN
3,U01225GJ2010PTC061439,K. R. RABBIT FARMING PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,05-07-2010,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,piyush.luktuke@yahoo.com,NaN,NaN
4,U01225GJ2013PLC073774,ABELLON BAMBOOWORKS LIMITED,Active,Public,Company limited by Shares,Non-govt company,28-02-2013,Gujarat,40000000.0,40000000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,secretarial.corp@abelloncleanenergy.com,31-03-2016,31-03-2016

In [ ]:
# Option 3: Replace missing values with median (for numerical columns)
df_filled_median = df.fillna(df.median())
df_filled_median.head()

In [28]:
# Option 4: Replace missing values with mode (for categorical columns)
df_filled_mode = df.fillna(df.mode().iloc[0])
df_filled_mode.head()

,CORPORATE_IDENTIFICATION_NUMBER,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,DATE_OF_REGISTRATION,REGISTERED_STATE,AUTHORIZED_CAP,PAIDUP_CAPITAL,INDUSTRIAL_CLASS,PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN,REGISTRAR_OF_COMPANIES,EMAIL_ADDR,LATEST_YEAR_ANNUAL_RETURN,LATEST_YEAR_FINANCIAL_STATEMENT
0,U01223GJ2001PTC039771,SHREEJI HONEY (INDIA) PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,12-07-2001,Gujarat,1500000.0,1500000.0,`01223,Agriculture and Allied Activities,RoC-Ahmedabad,d_joshi_associates@yahoo.com,31-03-2017,31-03-2017
1,U01224GJ2005PTC047084,NICE NATURAL SILK INDUSTRIES PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,17-11-2005,Gujarat,10000000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,k_dalal@rediffmail.com,31-03-2017,31-03-2017
2,U01224GJ2011PTC067121,DAYALJI SILK PRIVATE LIMITED,Active,Private,Company limited by Shares,Non-govt company,14-09-2011,Gujarat,100000.0,100000.0,`01224,Agriculture and Allied Activities,RoC-Ahmedabad,mutualarena@gmail.com,31-03-2017,31-03-2017
3,U01225GJ2010PTC061439,K. R. RABBIT FARMING PRIVATE LIMITED,Strike Off,Private,Company limited by Shares,Non-govt company,05-07-2010,Gujarat,100000.0,100000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,piyush.luktuke@yahoo.com,31-03-2017,31-03-2017
4,U01225GJ2013PLC073774,ABELLON BAMBOOWORKS LIMITED,Active,Public,Company limited by Shares,Non-govt company,28-02-2013,Gujarat,40000000.0,40000000.0,`01225,Agriculture and Allied Activities,RoC-Ahmedabad,secretarial.corp@abelloncleanenergy.com,31-03-2016,31-03-2016