Practical 2: Work on dataset given by sir

In [22]:
# Import libraries
import pandas as pd

In [23]:
# Load data
df = pd.read_csv("mca_gujarat_21042018.csv")

In [24]:
# a) Describe the datasets and identify the data types of attributes of the dataset.
# Describe the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95826 entries, 0 to 95825
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   CORPORATE_IDENTIFICATION_NUMBER         95826 non-null  object
 1   COMPANY_NAME                            95826 non-null  object
 2   COMPANY_STATUS                          95826 non-null  object
 3   COMPANY_CLASS                           95820 non-null  object
 4   COMPANY_CATEGORY                        95820 non-null  object
 5   COMPANY_SUB_CATEGORY                    95820 non-null  object
 6   DATE_OF_REGISTRATION                    95814 non-null  object
 7   REGISTERED_STATE                        95826 non-null  object
 8   AUTHORIZED_CAP                          95826 non-null  float64
 9   PAIDUP_CAPITAL                          95826 non-null  float64
 10  INDUSTRIAL_CLASS                        95826 non-null  object
 11  PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN  95826 non-null  object
 12  REGISTRAR_OF_COMPANIES                  95491 non-null  object
 13  EMAIL_ADDR                              72238 non-null  object
 14  LATEST_YEAR_ANNUAL_RETURN               55908 non-null  object
 15  LATEST_YEAR_FINANCIAL_STATEMENT         55898 non-null  object
dtypes: float64(2), object(14)
memory usage: 11.7+ MB

In [25]:
# identify the data types of attributes
df.describe()

       AUTHORIZED_CAP  PAIDUP_CAPITAL
count    9.582600e+04    9.582600e+04
mean     6.320206e+07    2.986657e+07
std      2.690387e+09    1.730888e+09
min      0.000000e+00    0.000000e+00
25%      1.000000e+05    1.000000e+05
50%      5.000000e+05    1.000000e+05
75%      2.500000e+06    1.000000e+06
max      6.000000e+11    4.570000e+11

In [26]:
# b) Implement the methods to display the number of missing values of different attributes and methods to handle missing value.

# Method to display no. of missing values
df.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER               0
COMPANY_NAME                                  0
COMPANY_STATUS                                0
COMPANY_CLASS                                 6
COMPANY_CATEGORY                              6
COMPANY_SUB_CATEGORY                          6
DATE_OF_REGISTRATION                         12
REGISTERED_STATE                              0
AUTHORIZED_CAP                                0
PAIDUP_CAPITAL                                0
INDUSTRIAL_CLASS                              0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN        0
REGISTRAR_OF_COMPANIES                      335
EMAIL_ADDR                                23588
LATEST_YEAR_ANNUAL_RETURN                 39918
LATEST_YEAR_FINANCIAL_STATEMENT           39928
dtype: int64

In [27]:
# Handle missing values
# Option 1: Remove rows with missing values
df_no_missing = df.dropna()
df_no_missing.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER           0
COMPANY_NAME                              0
COMPANY_STATUS                            0
COMPANY_CLASS                             0
COMPANY_CATEGORY                          0
COMPANY_SUB_CATEGORY                      0
DATE_OF_REGISTRATION                      0
REGISTERED_STATE                          0
AUTHORIZED_CAP                            0
PAIDUP_CAPITAL                            0
INDUSTRIAL_CLASS                          0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    0
REGISTRAR_OF_COMPANIES                    0
EMAIL_ADDR                                0
LATEST_YEAR_ANNUAL_RETURN                 0
LATEST_YEAR_FINANCIAL_STATEMENT           0
dtype: int64

In [28]:
# Option 2: Replace missing values with mean (for categorical columns)
df.fillna(df.mode().iloc[0], inplace=True)
df.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER           0
COMPANY_NAME                              0
COMPANY_STATUS                            0
COMPANY_CLASS                             0
COMPANY_CATEGORY                          0
COMPANY_SUB_CATEGORY                      0
DATE_OF_REGISTRATION                      0
REGISTERED_STATE                          0
AUTHORIZED_CAP                            0
PAIDUP_CAPITAL                            0
INDUSTRIAL_CLASS                          0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    0
REGISTRAR_OF_COMPANIES                    0
EMAIL_ADDR                                0
LATEST_YEAR_ANNUAL_RETURN                 0
LATEST_YEAR_FINANCIAL_STATEMENT           0
dtype: int64

In [29]:
df.drop(['EMAIL_ADDR'],axis=1, inplace=True)

In [30]:
# c) Display the statistics about number of private and public company according to the different registrar of the company.

company_class = df['COMPANY_CLASS'].unique()
print(company_class)

['Private' 'Public' 'Private(One Person Company)']

In [31]:
statistics = df.groupby('REGISTRAR_OF_COMPANIES')['COMPANY_CLASS'].value_counts()
statistics

REGISTRAR_OF_COMPANIES  COMPANY_CLASS
RoC-Ahmedabad           Private                        86663
                        Public                          8602
                        Private(One Person Company)      539
RoC-Bangalore           Private                            1
RoC-Delhi               Private                            1
RoC-Goa                 Private                            6
                        Public                             1
RoC-Gwalior             Private                            3
RoC-Jaipur              Private                            4
                        Public                             1
RoC-Jammu               Private                            1
RoC-Kolkata             Public                             2
RoC-Mumbai              Public                             2
Name: count, dtype: int64