<div>
<b>Author</b>: PATEL DIVYAKUMAR BHARATBHAI
</div>
<div>
<b>Date</b>: 06/10/2023
</div>
<div>
<b>Practical 2</b>: Read company master data of Gujarat dataset. Perform the following operations on it.<br>
a) Describe the datasets and identify the data types of attributes of the dataset.<br>
b) Implement the methods to display the number of missing values of different attributes and methods to handle missing value.<br>
c) Display the statistics about number of private and public company according to the different registrar of the company.<br>
</div>

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load data
df = pd.read_csv("../mca_gujarat_21042018.csv")

In [3]:
# a) Describe the datasets and identify the data types of attributes of the dataset.
# Describe the dataset
df.describe()

       AUTHORIZED_CAP  PAIDUP_CAPITAL
count    9.582600e+04    9.582600e+04
mean     6.320206e+07    2.986657e+07
std      2.690387e+09    1.730888e+09
min      0.000000e+00    0.000000e+00
25%      1.000000e+05    1.000000e+05
50%      5.000000e+05    1.000000e+05
75%      2.500000e+06    1.000000e+06
max      6.000000e+11    4.570000e+11

In [4]:
# identify the data types of attributes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95826 entries, 0 to 95825
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   CORPORATE_IDENTIFICATION_NUMBER         95826 non-null  object
 1   COMPANY_NAME                            95826 non-null  object
 2   COMPANY_STATUS                          95826 non-null  object
 3   COMPANY_CLASS                           95820 non-null  object
 4   COMPANY_CATEGORY                        95820 non-null  object
 5   COMPANY_SUB_CATEGORY                    95820 non-null  object
 6   DATE_OF_REGISTRATION                    95814 non-null  object
 7   REGISTERED_STATE                        95826 non-null  object
 8   AUTHORIZED_CAP                          95826 non-null  float64
 9   PAIDUP_CAPITAL                          95826 non-null  float64
 10  INDUSTRIAL_CLASS                        95826 non-null  object
 11  PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN  95826 non-null  object
 12  REGISTRAR_OF_COMPANIES                  95491 non-null  object
 13  EMAIL_ADDR                              72238 non-null  object
 14  LATEST_YEAR_ANNUAL_RETURN               55908 non-null  object
 15  LATEST_YEAR_FINANCIAL_STATEMENT         55898 non-null  object
dtypes: float64(2), object(14)
memory usage: 11.7+ MB

In [5]:
# b) Implement the methods to display the number of missing values of different attributes and methods to handle missing value.

# Method to display no. of missing values
df.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER               0
COMPANY_NAME                                  0
COMPANY_STATUS                                0
COMPANY_CLASS                                 6
COMPANY_CATEGORY                              6
COMPANY_SUB_CATEGORY                          6
DATE_OF_REGISTRATION                         12
REGISTERED_STATE                              0
AUTHORIZED_CAP                                0
PAIDUP_CAPITAL                                0
INDUSTRIAL_CLASS                              0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN        0
REGISTRAR_OF_COMPANIES                      335
EMAIL_ADDR                                23588
LATEST_YEAR_ANNUAL_RETURN                 39918
LATEST_YEAR_FINANCIAL_STATEMENT           39928
dtype: int64

In [6]:
# Handle missing values
# Option 1: Remove rows with missing values
df_no_missing = df.dropna()
df_no_missing.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER           0
COMPANY_NAME                              0
COMPANY_STATUS                            0
COMPANY_CLASS                             0
COMPANY_CATEGORY                          0
COMPANY_SUB_CATEGORY                      0
DATE_OF_REGISTRATION                      0
REGISTERED_STATE                          0
AUTHORIZED_CAP                            0
PAIDUP_CAPITAL                            0
INDUSTRIAL_CLASS                          0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    0
REGISTRAR_OF_COMPANIES                    0
EMAIL_ADDR                                0
LATEST_YEAR_ANNUAL_RETURN                 0
LATEST_YEAR_FINANCIAL_STATEMENT           0
dtype: int64

In [7]:
# Option 2: Replace missing values with mean (for categorical columns)
df.fillna(df.mode().iloc[0], inplace=True)
df.isnull().sum()

CORPORATE_IDENTIFICATION_NUMBER           0
COMPANY_NAME                              0
COMPANY_STATUS                            0
COMPANY_CLASS                             0
COMPANY_CATEGORY                          0
COMPANY_SUB_CATEGORY                      0
DATE_OF_REGISTRATION                      0
REGISTERED_STATE                          0
AUTHORIZED_CAP                            0
PAIDUP_CAPITAL                            0
INDUSTRIAL_CLASS                          0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    0
REGISTRAR_OF_COMPANIES                    0
EMAIL_ADDR                                0
LATEST_YEAR_ANNUAL_RETURN                 0
LATEST_YEAR_FINANCIAL_STATEMENT           0
dtype: int64

In [8]:
df.drop(['EMAIL_ADDR'],axis=1, inplace=True)

In [9]:
# c) Display the statistics about number of private and public company according to the different registrar of the company.

company_class = df['COMPANY_CLASS'].unique()
print(company_class)

['Private' 'Public' 'Private(One Person Company)']

In [10]:
statistics = df.groupby(['REGISTRAR_OF_COMPANIES','COMPANY_CLASS'])
statistics.describe()

                                                   AUTHORIZED_CAP  \
                                                            count
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                            86663.0
                       Private(One Person Company)          539.0
                       Public                              8602.0
RoC-Bangalore          Private                                1.0
RoC-Delhi              Private                                1.0
RoC-Goa                Private                                6.0
                       Public                                 1.0
RoC-Gwalior            Private                                3.0
RoC-Jaipur             Private                                4.0
                       Public                                 1.0
RoC-Jammu              Private                                1.0
RoC-Kolkata            Public                                 2.0
RoC-Mumbai             Public                                 2.0

                                                                  \
                                                            mean
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                      1.525084e+07
                       Private(One Person Company)  1.913228e+05
                       Public                       5.501787e+08
RoC-Bangalore          Private                      1.850000e+08
RoC-Delhi              Private                      3.500000e+08
RoC-Goa                Private                      3.403333e+07
                       Public                       1.000000e+08
RoC-Gwalior            Private                      2.333333e+07
RoC-Jaipur             Private                      2.000000e+05
                       Public                       7.500000e+08
RoC-Jammu              Private                      1.000000e+05
RoC-Kolkata            Public                       3.375000e+07
RoC-Mumbai             Public                       1.250000e+08

                                                                               \
                                                             std          min
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                      6.360163e+08          0.0
                       Private(One Person Company)  5.564451e+05         10.0
                       Public                       8.735283e+09          0.0
RoC-Bangalore          Private                               NaN  185000000.0
RoC-Delhi              Private                               NaN  350000000.0
RoC-Goa                Private                      8.131164e+07     100000.0
                       Public                                NaN  100000000.0
RoC-Gwalior            Private                      5.773503e+06   20000000.0
RoC-Jaipur             Private                      2.000000e+05     100000.0
                       Public                                NaN  750000000.0
RoC-Jammu              Private                               NaN     100000.0
RoC-Kolkata            Public                       2.298097e+07   17500000.0
RoC-Mumbai             Public                       9.192388e+07   60000000.0

                                                                              \
                                                            25%          50%
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                         100000.0     500000.0
                       Private(One Person Company)     100000.0     100000.0
                       Public                          600000.0    7500000.0
RoC-Bangalore          Private                      185000000.0  185000000.0
RoC-Delhi              Private                      350000000.0  350000000.0
RoC-Goa                Private                         200000.0     750000.0
                       Public                       100000000.0  100000000.0
RoC-Gwalior            Private                       20000000.0   20000000.0
RoC-Jaipur             Private                         100000.0     100000.0
                       Public                       750000000.0  750000000.0
RoC-Jammu              Private                         100000.0     100000.0
RoC-Kolkata            Public                        25625000.0   33750000.0
RoC-Mumbai             Public                        92500000.0  125000000.0

                                                                               \
                                                            75%           max
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                        2000000.0  1.180000e+11
                       Private(One Person Company)     100000.0  1.000000e+07
                       Public                        50000000.0  6.000000e+11
RoC-Bangalore          Private                      185000000.0  1.850000e+08
RoC-Delhi              Private                      350000000.0  3.500000e+08
RoC-Goa                Private                        2125000.0  2.000000e+08
                       Public                       100000000.0  1.000000e+08
RoC-Gwalior            Private                       25000000.0  3.000000e+07
RoC-Jaipur             Private                         200000.0  5.000000e+05
                       Public                       750000000.0  7.500000e+08
RoC-Jammu              Private                         100000.0  1.000000e+05
RoC-Kolkata            Public                        41875000.0  5.000000e+07
RoC-Mumbai             Public                       157500000.0  1.900000e+08

                                                   PAIDUP_CAPITAL  \
                                                            count
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                            86663.0
                       Private(One Person Company)          539.0
                       Public                              8602.0
RoC-Bangalore          Private                                1.0
RoC-Delhi              Private                                1.0
RoC-Goa                Private                                6.0
                       Public                                 1.0
RoC-Gwalior            Private                                3.0
RoC-Jaipur             Private                                4.0
                       Public                                 1.0
RoC-Jammu              Private                                1.0
RoC-Kolkata            Public                                 2.0
RoC-Mumbai             Public                                 2.0

                                                                  \
                                                            mean
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                      9.400089e+06
                       Private(One Person Company)  1.386926e+05
                       Public                       2.378763e+08
RoC-Bangalore          Private                      2.381596e+07
RoC-Delhi              Private                      2.587250e+08
RoC-Goa                Private                      1.666667e+04
                       Public                       0.000000e+00
RoC-Gwalior            Private                      2.183833e+07
RoC-Jaipur             Private                      1.000000e+05
                       Public                       4.972422e+08
RoC-Jammu              Private                      2.000000e+02
RoC-Kolkata            Public                       2.570000e+07
RoC-Mumbai             Public                       8.472280e+07

                                                                               \
                                                             std          min
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                      4.668341e+08          0.0
                       Private(One Person Company)  3.206642e+05          0.0
                       Public                       5.579886e+09          0.0
RoC-Bangalore          Private                               NaN   23815960.0
RoC-Delhi              Private                               NaN  258725000.0
RoC-Goa                Private                      4.082483e+04          0.0
                       Public                                NaN          0.0
RoC-Gwalior            Private                      7.230115e+06   16236000.0
RoC-Jaipur             Private                      0.000000e+00     100000.0
                       Public                                NaN  497242160.0
RoC-Jammu              Private                               NaN        200.0
RoC-Kolkata            Public                       1.477853e+07   15250000.0
RoC-Mumbai             Public                       4.556993e+07   52500000.0

                                                                              \
                                                            25%          50%
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                         100000.0     100000.0
                       Private(One Person Company)     100000.0     100000.0
                       Public                            7000.0     900000.0
RoC-Bangalore          Private                       23815960.0   23815960.0
RoC-Delhi              Private                      258725000.0  258725000.0
RoC-Goa                Private                              0.0          0.0
                       Public                               0.0          0.0
RoC-Gwalior            Private                       17757500.0   19279000.0
RoC-Jaipur             Private                         100000.0     100000.0
                       Public                       497242160.0  497242160.0
RoC-Jammu              Private                            200.0        200.0
RoC-Kolkata            Public                        20475000.0   25700000.0
RoC-Mumbai             Public                        68611402.5   84722805.0


                                                            75%           max
REGISTRAR_OF_COMPANIES COMPANY_CLASS
RoC-Ahmedabad          Private                         800000.0  9.780591e+10
                       Private(One Person Company)     100000.0  5.200000e+06
                       Public                        28909710.0  4.570000e+11
RoC-Bangalore          Private                       23815960.0  2.381596e+07
RoC-Delhi              Private                      258725000.0  2.587250e+08
RoC-Goa                Private                              0.0  1.000000e+05
                       Public                               0.0  0.000000e+00
RoC-Gwalior            Private                       24639500.0  3.000000e+07
RoC-Jaipur             Private                         100000.0  1.000000e+05
                       Public                       497242160.0  4.972422e+08
RoC-Jammu              Private                            200.0  2.000000e+02
RoC-Kolkata            Public                        30925000.0  3.615000e+07
RoC-Mumbai             Public                       100834207.5  1.169456e+08