In [1]:
# Import libraries
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

In [2]:
# Let's assume we have the following documents
documents = [
    'This is PDS',
    'PDS-python for data science',
    'This code is in python',
    'Have you learned python?'
]

In [3]:
# Bag of Words Model
vectorizer = CountVectorizer()
bow_data = vectorizer.fit_transform(documents)

In [4]:
bow_df = pd.DataFrame(data=bow_data.toarray(),columns=vectorizer.get_feature_names_out())
bow_df

   code  data  for  have  in  is  learned  pds  python  science  this  you
0     0     0    0     0   0   1        0    1       0        0     1    0
1     0     1    1     0   0   0        0    1       1        1     0    0
2     1     0    0     0   1   1        0    0       1        0     1    0
3     0     0    0     1   0   0        1    0       1        0     0    1

In [5]:
# TF-IDF Model
vectorizer = TfidfVectorizer()
tf_data = vectorizer.fit_transform(documents)

In [6]:
tf_df = pd.DataFrame(data=tf_data.toarray(),columns=vectorizer.get_feature_names_out())
tf_df

,code,data,for,have,in,is,learned,pds,python,science,this,you
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.57735,0.000000,0.577350,0.000000,0.000000,0.57735,0.000000
1,0.000000,0.498197,0.498197,0.000000,0.000000,0.00000,0.000000,0.392784,0.317993,0.498197,0.00000,0.000000
2,0.523381,0.000000,0.000000,0.000000,0.523381,0.41264,0.000000,0.000000,0.334067,0.000000,0.41264,0.000000
3,0.000000,0.000000,0.000000,0.541736,0.000000,0.00000,0.541736,0.000000,0.345783,0.000000,0.00000,0.541736