Practical 6: Implement a method using XPath to fetch text description/content of any website home page.

In [21]:
# Import libraries
import requests
from lxml import html
import pandas as pd

In [22]:
# Fetch the webpage
response = requests.get("https://books.toscrape.com/")

In [23]:
tree = html.fromstring(response.content)

In [24]:
# Fetch Title of Book using xpath
def get_title(i) -> str:
    title = tree.xpath(f'//*[@id="default"]/div/div/div/div/section/div[2]/ol/li[{i}]/article/h3/a/text()')
    return title[0]

In [25]:
# Fetch Price of Book using xpath
def get_price(i) -> str:
    price = tree.xpath(f'//*[@id="default"]/div/div/div/div/section/div[2]/ol/li[{i}]/article/div[2]/p[1]/text()')
    return price[0]

In [26]:
# Store the 20 Books title and price in lists
book_titles = []
book_prices = []
for i in range(1, 21):
    try:
        # Add Title
        book_titles.append(get_title(i))
        # Add Price
        book_prices.append(get_price(i))
    except:
        pass

In [27]:
# Make a dataset of 20 books with column Title and Price
book_details = {'Book Name': book_titles, 'Price': book_prices}
book = pd.DataFrame(book_details)
book

                                Book Name   Price
0                      A Light in the ...  £51.77
1                      Tipping the Velvet  £53.74
2                              Soumission  £50.10
3                           Sharp Objects  £47.82
4            Sapiens: A Brief History ...  £54.23
5                         The Requiem Red  £22.65
6            The Dirty Little Secrets ...  £33.34
7                 The Coming Woman: A ...  £17.93
8                     The Boys in the ...  £22.60
9                         The Black Maria  £52.15
10  Starving Hearts (Triangular Trade ...  £13.99
11                  Shakespeare's Sonnets  £20.66
12                            Set Me Free  £17.46
13    Scott Pilgrim's Precious Little ...  £52.29
14                      Rip it Up and ...  £35.02
15                  Our Band Could Be ...  £57.25
16                                   Olio  £23.88
17        Mesaerion: The Best Science ...  £37.59
18           Libertarianism for Beginners  £51.33
19                It's Only the Himalayas  £45.17